body {
  background-color: gray;
  margin: 0 auto;
  padding: 10px;
  max-width: 985px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  background-image: radial-gradient(white, #483338);
}

.header {
  background-color: white;
  padding: 30px;
}

.header > h2 {
  display: inline-block;
}

h2 {
  text-align: left;
}

h2:last-child {
  margin-left: 350px;
  text-align: right;
}

#section-profile {
  vertical-align: middle;
  margin-bottom: 20px;
}

#section-profile > div {
  background-color: #c0c0c0;
}

#profile-pic {
  float: left;
}

#profile-pic > img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 10px 50px;
}

#section-profile > #section-profile-about {
  background-color: white;
  text-align: left;
  width: 550px;
  height: 273px;
  margin-left: auto;
}

#section-tools {
  height: 230px;
}

.card-title {
  color: white;
  background-image: linear-gradient(
    rgb(161, 159, 159),
    gray,
    rgb(161, 159, 159)
  );
  padding: 5px 20px;
}

.about-info {
  padding: 0 20px 20px;
}

#main {
  padding: 20px;
}

.card {
  width: 33.33%;
}

#section-background .card {
  height: 400px;
}

.card:first-child {
  float: left;
}

.card:nth-child(2) {
  display: inline-block;
  margin: 0 auto;
}

.card:last-child {
  float: right;
}

.card:first-child > .card-content {
  padding-right: 10px;
}

.card:nth-child(2) > .card-content {
  padding: 0 5px;
}

.card:last-child > .card-content {
  padding-left: 10px;
}

.card-content > img.banner {
  width: 100%;
}

.card-content > .icon > .tools {
  width: 18%;
}

.card-content > p,
.icon {
  background-color: #e5d7e2;
  height: 200px;
  margin-top: -5px;
  padding: 5px;
}

.button {
  font-size: 15px;
  font-weight: bold;
  background-color: #ff2f00;
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: white;
  color: #ff2f00;
  cursor: pointer;
}

.icon > div {
  text-align: center;
  margin: 10px;
}

footer {
  height: 80px;
  background-color: white;
}

footer p {
  margin: 0px;
  width: 100%;
  text-align: center;
}

footer > div {
  text-align: center;
  padding-top: 10px;
}

footer > div > img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
